@model ChatServer.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<div class="registerform">
    @using (Html.BeginForm())
    {
        @*@Html.ValidationSummary()*@
        <span>Register</span>
        @Html.TextBoxFor(x => x.Nickname, new { placeholder = "Your Nickname" })
        <div>@Html.ValidationMessage("Nickname")</div>
        @Html.PasswordFor(x => x.Password, new { placeholder = "Password" })
        <div>@Html.ValidationMessage("Password")</div>
        @Html.PasswordFor(x => x.ConfirmPassword, new { placeholder = "Confirm Password" })
        <div>@Html.ValidationMessage("ConfirmPassword")</div>
        <input type="submit" value="Sign Up" />
    }
</div>
